@charset "utf-8";
.content{
	margin-top: 44px;
}
.tx{
	margin-bottom: 10px;
}
a{
	color: white !important; 
}
header{
	line-height: 44px;
}
.tiao_kuan{
	width:100%;
	height: 2.8125rem;
	line-height: 2.8125rem;
	padding: 0 .9375rem;
	background: #fff;
}
.tiao_kuan_right{
	width:40%;
	text-align: right;
	float: right;
}
.icon_right{
	width: .84375rem;
}
.tiaokuanInfo{
	padding:.9375rem;
	background: #fafafa;
	display: none;
}
