.product_detail{
	background-color: #fff;
	text-align: center;
	padding: 15px 0px;
	margin-bottom: 10px;
}
.product_title{
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 40px;
}
.product_percent{
	font-size: 36px;
	color:#ec6d20;	
	font-weight: bold;
	margin-bottom: 15px;
}
.bi{
	font-size: 18px;
	color:#ec6d20;	
	font-weight: bold;
}
.detail_left,
.detail_right{
	width: 50%;
	float: left;
}
.detail_left{
	border-right: 1px solid #cccccc;
}
.clearfix:after {
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.detail_left_up,
.detail_right_up{
	font-size: 16px;
	color: #333333;
	margin-bottom: 2px;
}
.detail_left_down,
.detail_right_down{
	font-size: 12px;
	color: #888888;
}

.product_info{
	background-color: #fff;
	margin-bottom: 10px;
}
.info_title{
	padding: 12px 6.66%;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #f3f1f4;
}
.info_content{
	font-size: 14px;
	padding-left: 2.6%;
}
.bar{
	line-height: 35px;
	height: 35px;
	border-bottom: 1px solid #cccccc;
	padding-left: 4.05%;
	padding-right: 6.66%;
}
.right_value{
	float: right;
}
.p_bar{
	padding-left: 4.05%;
	padding-right: 6.66%;
	padding-top: 2px;
	padding-bottom: 6px;
}
.info_content .bar:last-child{
	border-bottom: none;
}
.icon_bxtk{
	width: 5.5px;
	float: right;
}
.bottom_info{
	margin-bottom: 50px;
	font-size: 12px;
	padding: 0 5% 10px 6.66%;
}
.bottom_info img{
	width: 16.5px;
	margin-right: 10px;
}
.footer{
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 100%;
	bottom: 0;
	color: #fff;
	background-color: #1B6BB8;
	font-size:17px;
	font-weight: bold;
	position: absolute;
	z-index: 7;
}
.youyuqi{
	color: #2baf92;
	padding-left:14px ;
}
.youyuqi img{
	width: 14px;
	margin-top: -4px;
	margin-left: 7px;
}
.suoding {
	color: #1B6BB8;
}
.suoding img{
	width: 14px;
	margin-top: -4px;
	margin-left: 7px;
}
.suoding_left,
.suoding_right{
	float: left;
	width: 50%;
	text-align: center;
}
.shuoming{
	color: #333333;
	text-indent:20px;
}
.shadow,.shadowpass{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	/* display: none; */
}
.option{
	color: #878787;
}
.tip,.tippass{
	z-index: 11;
	width: 74%;
	height: 174px;
	/* font-size: 16px; */
	margin-top: 50%;
    margin-left: 13%;
}
.tip p,.tippass p{
	font-size: 16px;
}

.tiphead{
	height: 45px;
	line-height: 45px;
	border-radius: 10px 10px 0 0;
	background-color: #fafafa;
}
.tiphead p{
	color: #1b6bb8;
	margin: 0;
	text-align: center;
	font-weight: bold;
}
.cancleimg{
	z-index: 12;
	float: right;
	width: 12px;
	margin-top: -38px;
	margin-right: 10px;
}
.tipbody,.tipbodypass{
	/* height: 85px; */
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.tipbody p, .tipbodypass p{
	text-indent: 2em;
	color: #333;
	line-height: 30px;
	width: 90%;
    margin: auto;
    padding-top: 11px;
}
.tipfoot{
	height: 45px;
	border-radius: 0 0 10px 10px;
	background-color: #fafafa;
	color: #1b6bb8;
}
.cancle,.retest{
	float: left;
	width: 49.5%;	
	height: 45px;
	line-height: 45px;
	text-align: center;
}
.bar span{
	overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    display: block;
    float: left;
}
