@CHARSET "UTF-8";
/* 江苏地区  验证码*/
.note-div {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 1;
	height: 230px;
	width: 80%;
	background-color: #FFFFFF;
	z-index: 100;
	border-radius: 12px;
	display: none;
}

.note-div_title {
	height: 26%;
	width: 100%;
	background-size: 100%;
	text-align: center;
	line-height: 50px;
}
.phone{
	vertical-align: sub;
}
.note-div_title_right {
	width: 13%;
	height: 20%;
	position: absolute;
	right: 0;
	top: 0;
}

.note-div_body_title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
}

.note-div_body_input {
	text-align: center;
	padding: 0 5% 0 5%;
	margin-top: 25px;
}

.note-div_body_input li:last-child {
	display: flex;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 15px;
}

.note-div_body_input li span:first-child {
	flex: 2;
}

.note-div_body_input li span:first-child input {
	font-size: 15px;
	color: #333;
	padding-left: 10px;
	font-family: 微软雅黑;
}

.note-div_body_input li span:last-child {
	flex: 1;
}


/*btn按钮 确定*/

.note {
	
}

.dianji {
	font-size: 15px;
}


.note-div-btn {
	width: 50%;
	height: 37px;
	background-color: #f36f39;
	border-radius: 5px;
	text-align: center;
	line-height: 37px;
	color: #FFFFFF;
	margin: 0 auto;
	margin-top: 35px;
}
